<body onload='total()' >
    
  
    <div id='search' class='row'> 
        <input type='text'placeholder='search' /> 
    
    </div>
    <div class='row'>
        <div class='col-3'>  <img src='tv.jpg' id='changing' /></div>
         <div class='col-3'>  <img src='2.jpg' id='changing' /></div>
         <div class='col-3'>  <img src='foot.jpg' id='changing' /></div>
        <div class='col-3'>  <img src='foot.jpg' id='changing' /></div>
       </div>
        <div class='row' id='fCart'>featured categories</div>

        <div class='row' id='fCartgroup'>
            <div  class=' fCartlist col-3'>
                <img src='img/lp2.jpg'/>
                <p class='name'>Laptops</p>
                <p class='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            {{!-- <div   class='fCartlist col-3'>
                <form class='form'>
                <img src='img/mw1.jpg'/>
               <p> pants</p>
               <p id='prizes'>#4000</p>
               <input type='submit' value='add to cart'/> 
                <p class='booked' id='demo'></p>
                </form>
               </div> --}}
               <div   class='fCartlist col-3'>
              
                <img src='img/mw1.jpg'/>
               <p class='name'> pants</p>
               <p class='prize'>#4000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
           
               </div>


            <div   class='fCartlist col-3'>
               <img src='img/tv2.jpg'/>
               <p class='name'> Televisions</p>
               <p class='prize'>#81000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            <div class='fCartlist col-3'>
                <img src='img/ww.jpg'/>
                <p class='name'>women's</p>
                <p class='prize'>#500</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            
        </div>
        <div class='row ' id='fCartgroup' >
                <div class=' fCartlist col-3'>
                    <img src='img/2.jpg' alt='s'/>
                   <p class='name'>Smart phones</p> 
                   <p class='prize'>#9000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
                <div  class='fCartlist col-3'>
                    <img src='img/mw3.jpg'/>
                    <p class='name'>trousers</p>
                    <p class='prize'>#11000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div  class='col-3 fCartlist'>
                    <img src='img/foot.jpg'/>
                    <p class='name'>Sneakers</p>
                    <p class='prize'>33000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div class='fCartlist col-3'>
                    <img src='img/mw6.jpg'/>
                   <p class='name'> men's cloth</p>
                   <p class='prize'>#33000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
                   
            </div>
           
        <div class='row ' id='deal' >
            <div id='dealday' class='col-8'>Deal of the day</div>
            <div class='col-4'> 
                <button id='seeall'> see all</button>
            </div>
 
        </div>
        <div class='row'>
                End in Time: 
                 <div class='days'></div>
                 <div class='hours'></div>
                 <div class='minutes'></div>
                 <div class='seconds'></div>
                  
        </div>
        <br/>
        <div class='row' id='fCart'>featured categories</div>

               <div class='row' id='fCartgroup'>
            <div class='fCartlist col-3'>
                <img src='img/lp.jpg'/>
                <p class='name'>Laptops</p>
                <p class='prize'>#4000</p>
                <p class='cart'    >Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            <div class='fCartlist col-3'>
                <img src='img/mw1.jpg'/>
               <p class='name'> pants</p>
               <p class='prize'>#45000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
               </div>
            <div class='fCartlist col-3'>
               <img src='img/tv.jpg'/>
               <p class='name'> Televisions</p>
               <p class='prize'>#50400</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            <div class='fCartlist col-3'>
                <img src='img/mw1.jpg'/>
                <p class='name'>women's</p>
                <p class='prize'>#50040</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            
        </div>
        <div class='row' id='fCartgroup'>
                <div class='fCartlist col-3'>
                    <img src='img/4.jpg' alt='s'/>
                   <p class='name'>Smart phones</p> 
                   <p class='prize'>#540</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
                <div class='fCartlist col-3'>
                    <img src='img/mw2.jpg'/>
                    <p class='name'>trousers</p>
                    <p class='prize'>#5055</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div class='fCartlist col-3'>
                    <img src='img/footwear3.jpg'/>
                    <p class='name'>Sneakers</p>
                    <p class='prize'>#2000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div class='fCartlist col-3'>
                    <img src='img/mw5.jpg'/>
                   <p class='name'> men's cloth</p>
                   <p class='prize'>#1000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
            </div>
           
           
        <div class='row ' id='deal' >
            <div id='dealday' class='col-8'>Wide Range of Television</div>
            <div class='col-4'>
                 <button id='seeall'> see all</button>
                 </div>
 
        </div>
        <div class='row'>
            End in Time: 
            <div class='days'></div>
            <div class='hours'></div>
            <div class='minutes'></div>
            <div class='seconds'></div>
            
        </div>
        
    
</body>
