<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<link href="jumia.css" rel="stylesheet" />
</head>
<body>
    <div id='header' class='row'>
        <div class='col=2'>
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
        </div>
        <div id='jumia'class='col-4'>
            jumia 
        </div>
        <div id='carts'class='col-2'>cart</div>
        <div class='col-2'>
             <div >pics</div>
             <div >cart
            <span id='number'></span>
             </div>
    </div>
    </div>
    <div id='search' class='row'> 
        <input type='text'placeholder='search' /> 
    
    </div>
        <div class='row' id='fCart'>featured categories</div>

        <div class='row' id='fCartgroup'>
            <div  class=' fCartlist col-3'>
                <img src='img/lp2.jpg'/>
                <p>Laptops</p>
                <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            <div   class='fCartlist col-3'>
                <img src='img/mw1.jpg'/>
               <p> pants</p>
               <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
               </div>
            <div   class='fCartlist col-3'>
               <img src='img/tv2.jpg'/>
               <p> Televisions</p>
               <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            <div class='fCartlist col-3'>
                <img src='img/ww.jpg'/>
                <p>women's</p>
                <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            
        </div>
        <div class='row ' id='fCartgroup' >
                <div class=' fCartlist col-3'>
                    <img src='img/2.jpg' alt='s'/>
                   <p>Smart phones</p> 
                   <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
                <div  class='fCartlist col-3'>
                    <img src='img/mw3.jpg'/>
                    <p>trousers</p>
                    <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div  class='col-3 fCartlist'>
                    <img src='img/foot.jpg'/>
                    <p>Sneakers</p>
                    <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div class='fCartlist col-3'>
                    <img src='img/mw6.jpg'/>
                   <p> men's cloth</p>
                   <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
                   
            </div>
           
        <div class='row ' id='deal' >
            <div id='dealday' class='col-8'>Deal of the day</div>
            <div class='col-4'> 
                <button id='seeall'> see all</button>
            </div>
 
        </div>
        <div class='row'>
                End in Time: 
                 <div class='days'></div>
                 <div class='hours'></div>
                 <div class='minutes'></div>
                 <div class='seconds'></div>
                  
        </div>
        <br/>
        <div class='row' id='fCart'>featured categories</div>

               <div class='row' id='fCartgroup'>
            <div class='fCartlist col-3'>
                <img src='img/lp.jpg'/>
                <p>Laptops</p>
                <p id='prize'>#5000</p>
                <p class='cart'    >Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            <div class='fCartlist col-3'>
                <img src='img/mw1.jpg'/>
               <p> pants</p>
               <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
               </div>
            <div class='fCartlist col-3'>
               <img src='img/tv.jpg'/>
               <p> Televisions</p>
               <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            <div class='fCartlist col-3'>
                <img src='img/mw1.jpg'/>
                <p>women's</p>
                <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                </div>
            
        </div>
        <div class='row' id='fCartgroup'>
                <div class='fCartlist col-3'>
                    <img src='img/4.jpg' alt='s'/>
                   <p>Smart phones</p> 
                   <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
                <div class='fCartlist col-3'>
                    <img src='img/mw2.jpg'/>
                    <p>trousers</p>
                    <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div class='fCartlist col-3'>
                    <img src='img/footwear3.jpg'/>
                    <p>Sneakers</p>
                    <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                    </div>
                <div class='fCartlist col-3'>
                    <img src='img/mw5.jpg'/>
                   <p> men's cloth</p>
                   <p id='prize'>#5000</p>
                <p class='cart'>Add to cart</p>
                <p class='booked' id='demo'></p>
                   </div>
            </div>
           
           
        <div class='row ' id='deal' >
            <div id='dealday' class='col-8'>Wide Range of Television</div>
            <div class='col-4'>
                 <button id='seeall'> see all</button>
                 </div>
 
        </div>
        <div class='row'>
            End in Time: 
            <div class='days'></div>
            <div class='hours'></div>
            <div class='minutes'></div>
            <div class='seconds'></div>
            
        </div>
        <div id='what'></div>
    
</body>
<script src=jumia.js></script>
</html>