<form action='register' method="POST">
    <input type='name' placeholder="username"/>
    <br/> <br/> <br/> <br/>
    <input type='email' placeholder="email"/>
    <br/> <br/> <br/> <br/>
    <input type="password" placeholder="password"/>
    <br/> <br/> <br/> <br/>
    <input type='submit' value='register'/>
</form>